.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(1, 39, 86, 0.4);
  z-index: 1500;
}

.modal {
  padding: 24px 16px 24px 16px;
  /* max-width: 343px; */

  background-color: var(--bg-medium-color);
  border-radius: 8px;

  box-shadow: 1px 1px 26px 0px rgba(0, 51, 98, 0.2);

  /* max-height: calc(100vh - 48px * 2); */

  overflow-y: auto;
  overflow-x: hidden;

  /* min-width: calc(100vw - 16px * 2); */
  /* max-width: 100vw; */
  width: calc(100vw - 16px * 2);
  max-height: calc(100dvh - 24px * 2);
  height: 100dvh;
  border-radius: 0;
}

.content {
  min-height: 0;
}

.header {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.closeBtn {
  border: none;
  background: none;
  cursor: pointer;
  align-self: flex-start;
}

.lead {
  width: 100%;
  text-align: center;
}

.modalWhiteBG {
  background-color: #fff;
}

.fullScreenMobileSize {
  min-width: calc(100vw - 16px * 2);
  max-height: calc(100vh - 24px * 2);
  height: 100dvh;
  /* margin: 24px 16px; */
  border-radius: 0;
}

@media screen and (min-width: 1440px) {
  .header {
    display: flex;
    margin-bottom: 32px;
  }

  .modal {
    padding: 48px 32px 48px 32px;
    max-width: 576px;
    width: 576px;
    min-width: 576px;
    height: auto;
    border-radius: 8px;
  }
}
@media screen and (min-width: 2560px) {
  .header {
    display: flex;
    margin-bottom: 64px;
  }

  .modal {
    padding: 96px 64px;
    max-width: 970px;

    width: 970px;
    min-width: 970px;
    height: auto;
  }

  .closeBtnImg {
    width: 80px;
    height: auto;
    background-size: cover;
  }
}
