.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  -webkit-overflow-scrolling: touch;
}

.modal {
  padding: 24px 16px 24px 16px;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  max-width: 343px;
  /* width: 100%; */
  background-color: var(--bg-medium-color);
  border-radius: 8px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  /* скролл вверх-вниз */
  /* max-height: 90vh; */
  max-height: calc(100vh - 48px * 2);
  overflow-y: auto;
  overflow-x: hidden;
}

.modalBrends {
  background-color: white;
}

.content {
  min-height: 0;
}

.header {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  /* justify-content: center; */
  /* padding: 36px 24px 16px 24px; */
}

.closeBtn {
  border: none;
  background: none;
  cursor: pointer;
  align-self: flex-start;
}

.lead {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .header {
    display: flex;
    margin-bottom: 32px;
  }

  .modal {
    padding: 48px 32px 48px 32px;
    max-width: 576px;
    height: auto;
  }
}
@media screen and (min-width: 2560px) {
  .header {
    display: flex;
    margin-bottom: 64px;
  }

  .modal {
    padding: 96px 64px;
    max-width: 970px;
    height: auto;
  }

  .closeBtnImg {
    width: 80px;
    height: auto;
    background-size: cover;
  }
}
