.paper {
  padding: 20px 30px 32px 30px;
  border-radius: 8px;
  background-color: var(--bg-light-color);
  border: 2px solid var(--bg-light-color);
  transition: all 200ms;
}
.paper:hover {
  box-shadow: 8px 8px 16px 0px rgba(123, 170, 241, 0.3);
}

@media screen and (min-width: 1440px) {
  .paper {
    padding: 32px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 2560px) {
  .paper {
    padding: 64px;
  }
}
