.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.text {
  margin-left: 5px;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.24px;
  color: var(--text-color);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.dotMarker {
  animation: pulse 1s infinite;
}

@media screen and (min-width: 1440px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .item {
    width: calc(48%);
  }
}
