.imgWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  background-color: #94a3c7;
}
.item {
  background-color: #fff;
  border: 1px solid var(--bg-medium-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 32px;
  width: 300px;
}

.img {
  width: 227px;
  height: 137px;
}
.itemMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  display: flex;

  text-align: left;
  letter-spacing: 0.24px;
  color: var(--text-color);
}
.watchBrends {
  display: block;
  border: none;
  background-color: transparent;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;

  letter-spacing: 0.24px;
  color: var(--big-button-color);
  cursor: pointer;
  transition: all 200ms;
}
.watchBrends::after {
  display: block;
  padding-left: 15px;
  align-items: center;
  content: url('../../../../images/arrowRight.svg');
  transition: all 200ms;
}

.button {
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: 8px;
  transition: all 200ms;
}
.button:hover {
  box-shadow: 8px 8px 16px 0px rgba(123, 170, 241, 0.3);
}

.cardWithMenu {
  padding: 8px;
}

.editedModalItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.editInput {
  padding-left: 5px;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  background-color: var(--bg-light-color);
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: var(--text-color);
}

@media screen and (min-width: 1440px) {
  .item {
    width: 285px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 2560px) {
  .item {
    width: 524px;
    padding: 48px;
    gap: 64px;
    border: 2px solid var(--bg-medium-color);
  }
  .img {
    width: 454px;
    height: auto;
    background-size: cover;
  }

  .itemMenu {
    gap: 36px;
  }

  .title {
    font-size: 36px;
    line-height: 50px;
  }
  .watchBrends {
    font-size: 30px;
    line-height: 40px;
  }

  .watchBrends::after {
    padding-left: 20px;

    content: url('../../../../images/arrowRight-big.svg');
  }

  .editInput {
    padding-left: 15px;
    font-size: 30px;
    line-height: 36px;
  }
}
