.btsDotsBlock {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.itemLi {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pagiBtnDot {
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: none;
  background-color: var(--big-button-color);
}

.isActiveStyle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: none;
  background-image: url(../../images/pagi-active-dot.svg);
  background-size: cover;
}
