.ourTeamBlock {
  padding: 48px 16px 48px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(
    125deg,
    var(--bg-light-color) calc(310px),
    var(--bg-medium-color) 310px
  );
}
.descr {
  height: 130px;
}

.description {
  margin-top: 8px;
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}

@media screen and (min-width: 1440px) {
  .ourTeamBlock {
    overflow: hidden;

    padding: 0;
    padding-bottom: 96px;
    gap: 60px;

    background-image: linear-gradient(
      150deg,
      var(--bg-light-color) calc(600px),
      var(--bg-medium-color) 600px
    );
  }
  .descr {
    height: 200px;
    padding: 176px 96px 0 96px;
  }
  .description {
    width: 530px;
    margin-top: 32px;

    font-size: 18px;
    line-height: 27px;
  }
  .sendInfo {
    margin-top: 32px;
    align-self: center;
    width: 600px;
  }
}
@media screen and (min-width: 2560px) {
  .ourTeamBlock {
    overflow: hidden;

    padding: 0;
    /* padding-top: 204px; */
    padding-bottom: 166px;
    gap: 60px;

    background-image: linear-gradient(
      150deg,
      var(--bg-light-color) calc(1075px),
      var(--bg-medium-color) 1075px
    );
  }
  .descr {
    height: 400px;
    padding: 304px 96px 0 96px;
  }
  .description {
    width: 975px;
    margin-top: 32px;

    font-size: 36px;
    line-height: 54px;
  }
  .sendInfo {
    margin-top: 64px;
    align-self: center;
    width: 1060px;
  }
}
