.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  /* opacity: 0;
  transform: translateY(10%);
  transition: opacity 0.5s ease, transform 0.5s ease; */
}

.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;

  opacity: 0;
  transform: translateY(30%);
  transition: opacity 0.5s ease, transform 1s ease;
}

.animatedItem {
  opacity: 1;
  transform: translateY(0);
}

.descr {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  text-align: left;
  align-items: center;
  letter-spacing: 0.24px;

  color: var(--text-color);
}

.link {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: inline-flex;
  align-items: center;

  letter-spacing: 0.24px;
  color: var(--big-button-color);
}

.link::after {
  padding-left: 15px;
  content: url('../../../images/arrowRight.svg');

  height: 20px;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg); /* Два оборота по часовой стрелке (360 * 2) */
  }
}
.image {
  width: 60px;
  height: 60px;
  transition: transform 1s ease-out; /* Плавное завершение анимации */
}

.item:hover .image {
  animation: rotateClockwise 2s; /* Вращение длится 2 секунды */
}

@media screen and (min-width: 1440px) {
  .list {
    flex-direction: row;
  }

  .item {
    width: 440px;
    height: 245px;
  }

  .descr {
    font-size: 26px;
    line-height: 40px;
  }

  .image {
    width: 80px;
    height: 80px;
  }
}
