.brochureBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  width: 182px;
  height: 54px;
  align-self: center;
  color: var(--text-color);

  border-bottom: 1.5px solid var(--big-button-color);

  background: linear-gradient(0deg, #ebf3ff, #ebf3ff),
    linear-gradient(0deg, rgba(34, 62, 127, 0.6), rgba(34, 62, 127, 0.6));
}

.brochureBtn:hover {
  background: linear-gradient(0deg, #d6e7ff, #d6e7ff),
    linear-gradient(0deg, rgba(34, 62, 127, 0.6), rgba(34, 62, 127, 0.6));

  border-bottom: 1.5px solid var(--big-button-color);
}

@media screen and (min-width: 2560px) {
  .brochureBtn {
    width: 397px;
    height: 112px;

    /* padding: 16px 72px 16px 72px; */

    font-size: 32px;
    line-height: 40px;
  }
}
