.heroBlock {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 48px 16px;
  background-color: var(--bg-light-color);
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.head {
  display: flex;
  align-items: flex-start;

  color: var(--text-light-color);
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
}

/* ПУЛЬС ==================*/

.head::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  padding-right: 5px;
  content: url('../../images/Ellipse.svg');
}

/* ======================= */
.description {
  display: flex;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.serviceLink {
  padding: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;

  color: var(--text-light-color);
}

.serviceLink::after {
  padding-left: 10px;
  content: url('../../images/arrow-right.svg');
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topLine {
  display: flex;
  justify-content: space-between;
}
.countLine1 {
  width: 75px;
}
.countLine2 {
  width: 30px;
}

.top {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}

.bot {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}
.container {
  height: 105px;
}
.trailsText {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}

@media screen and (min-width: 1440px) {
  .heroBlock {
    padding: 0;
    min-height: 835px;
    background-repeat: no-repeat;
    background-image: url('../../images/hero-bg.png');
    background-position: right;
    display: flex;
  }

  .taglineBig {
    width: calc(90%);
  }

  .heroContent {
    justify-self: start;
    width: calc(50%);
    padding-top: 122px;
    padding-left: 96px;
  }

  .head {
    font-size: 16px;
    line-height: 24px;

    padding-bottom: 30px;
  }

  .description {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    padding-bottom: 50px;
    gap: 60px;
  }

  .serviceLink {
    padding: 14px;
  }

  .list {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }

  .listItem {
    width: calc(26%);
    text-align: start;
  }

  .top {
    font-size: 40px;
    line-height: 60px;
  }

  .bot {
    font-size: 16px;
    line-height: 24px;
  }

  .countLine1 {
    width: 90px;
  }
  .countLine2 {
    width: 35px;
  }
  .container {
    height: 180px;
  }

  .trailsText {
    font-size: 36px;
    line-height: 54px;
  }
}
