.blockWrapper {
  padding: 16px;

  display: flex;
  flex-direction: column;
  background-color: var(--bg-light-color);
  box-shadow: 0 0 8px 8px rgba(123, 170, 241, 0.3);
  border-radius: 8px;
  gap: 16px;
}

.title {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item {
  display: flex;
  align-items: flex-start;
  text-align: start;

  opacity: 0;
  transform: translateY(30%);
  transition: opacity 0.5s ease, transform 1s ease;
}

.animatedItem {
  opacity: 1;
  transform: translateY(0);
}
.text {
  margin-left: 5px;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: var(--text-color);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.dotMarker {
  animation: pulse 1s infinite;
}
@media screen and (min-width: 1440px) {
  .blockWrapper {
    padding: 32px;
    width: 422px;
  }

  .title {
    text-align: left;
  }
}
