.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--bg-light-color);
  background-repeat: no-repeat;
  background-image: url('../../images/contacts-bg-mob.png');
  background-position: top;
}

.taglineWrapper {
  display: flex;
  flex-direction: column;
  padding: 48px 16px 0 16px;

  gap: 8px;
  margin-bottom: 16px;
}

.text {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}

@media screen and (min-width: 1440px) {
  .taglineWrapper {
    gap: 16px;
    margin-bottom: 48px;
  }

  .pageWrapper {
    align-items: center;

    padding: 136px 96px 96px 96px;
    gap: 60px;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(
      150deg,
      var(--bg-light-color) 50%,
      var(--bg-medium-color) 50%
    );
    /* background-position: 0 -200px; */
    background-repeat: no-repeat;
    background-size: cover;
  }
}
