.advantagesBlock {
  padding: 85px 16px 48px 16px;
  background-color: var(--bg-light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('../../images/advantagesBgWaves-mob.svg');
  background-repeat: no-repeat;
  background-size: contain;
  gap: 16px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;

  height: 80px;
}

.advListWtapper {
  margin-top: 24px;
}

@media screen and (min-width: 1440px) {
  .advantagesBlock {
    padding: 96px;
    background-image: url('../../images/advantagesBgWaves.svg');
    background-repeat: no-repeat;
    gap: 72px;
  }

  .textBlock {
    gap: 24px;
    height: 100px;
  }

  .advListWtapper {
    margin-top: 0;
  }
}
@media screen and (min-width: 2560px) {
  .advantagesBlock {
    padding-top: 168px;
    padding-bottom: 168px;
    gap: 72px;
  }

  .textBlock {
    gap: 40px;
    height: 156px;
    margin-bottom: 100px;
  }

  .advListWtapper {
    margin-top: 0;
  }
}
