.item,
.formInput {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  /* max-width: calc(48%); */
  width: calc(48%);
  letter-spacing: 0.24px;
  color: var(--text-color);
}

.item::before {
  padding-right: 5px;
  content: ' \2022 ';
  color: var(--text-color);
}

.formInput {
  border: none;
  border-radius: 8px;
  width: 100%;
  background-color: var(--bg-light-color);
}

@media screen and (min-width: 1440px) {
  .item,
  .formInput {
    font-size: 20px;
    line-height: 30px;
  }
}
