.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .itemList {
  background-color: var(--bg-light-color);
  border-radius: 8px;
} */

.item {
  display: flex;
  flex-direction: column;
  padding: 36px 16px;
  gap: 16px;

  border-radius: 8px;
  background-color: var(--bg-medium-color);
  text-align: start;

  opacity: 0;
  transform: translateY(30%);
  transition: opacity 0.5s ease, transform 1s ease;
}
.animatedItem {
  opacity: 1;
  transform: translateY(0);
}
.img {
  width: 134px;
  height: 134px;
  align-self: center;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}

.title::before {
  padding-right: 5px;
  content: ' \2022 ';
  color: var(--accent-color);
}

.text {
  font-size: 18px;
  line-height: 27px;
}
@media screen and (min-width: 1440px) {
  .list {
    flex-direction: row;
  }

  .itemList {
    width: calc(25%);
  }

  .item {
    height: 308px;
  }
}
