.options {
  width: 343px;
  min-height: 370px;
  background-repeat: no-repeat;
  background-image: url('../../../../../images/energy-onboard-bg-mob.png');
}

.optionsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  position: absolute;
  z-index: 2;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background-image: url('../../../../../images/energy-dots/round-button.svg');
  background-size: cover;
  cursor: pointer;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
  scale: 1.5;
  transition: scale 100ms linear;
}

.btn1 {
  top: 365px;
  left: 215px;
}

.btn2 {
  top: 300px;
  left: 160px;
}
.btn3 {
  top: 225px;
  left: 190px;
}
.btn4 {
  top: 325px;
  left: 265px;
}

.arrow1,
.arrow2,
.arrow3,
.arrow4 {
  position: absolute;
  z-index: 1;
}

.arrow1 {
  top: 390px;
  left: 171px;
}
.arrow2 {
  top: 316px;
  left: 171px;
}
.arrow3 {
  top: 240px;
  left: 187px;
}
.arrow4 {
  top: 344px;
  left: 162px;
}
.arrowHide {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.active {
  z-index: 1;
  width: 34px;
  height: 34px;
  scale: 1.5;
  background: transparent;
  background-image: url('../../../../../images/energy-dots/round-button.svg');
  background-size: cover;
  cursor: pointer;
  animation: pulse 1s infinite;
}

.optionsTitle {
  height: 100px;

  width: calc(87%);
  text-align: center;
  font-family: 'Ruberoid';
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--text-color);
}

@media screen and (min-width: 1440px) {
  .btn1 {
    top: 806px;
    left: 605px;
  }
  .btn2 {
    top: 682px;
    left: 500px;
  }
  .btn3 {
    top: 490px;
    left: 525px;
  }
  .btn4 {
    top: 725px;
    left: 727px;
  }
  .arrow1 {
    top: 518px;
    left: 215px;
  }
  .arrow2 {
    top: 417px;
    left: 210px;
  }
  .arrow3 {
    top: 310px;
    left: 485px;
  }
  .arrow4 {
    top: 235px;
    left: 485px;
  }

  .options {
    width: 1027px;
    height: 789px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../../../images/energy-onboard-bg.png');
  }

  .optionsTitle {
    width: calc(60%);
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 2560px) {
  .optionsTitle {
    width: calc(65%);
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 144px;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4,
  .active {
    width: 64px;
    height: 64px;
  }

  .btn1 {
    top: 1468px;
    left: 1080px;
  }
  .btn2 {
    top: 1240px;
    left: 900px;
  }
  .btn3 {
    top: 790px;
    left: 1000px;
  }
  .btn4 {
    top: 1349px;
    left: 1402px;
  }
  .arrow1 {
    top: 931px;
    left: 327px;
    width: 802px;
    height: 570px;
  }
  .arrow2 {
    top: 706px;
    left: 323px;
    width: 602px;
    height: 566px;
  }
  .arrow3 {
    top: 445px;
    left: 915px;
    width: 120px;
    height: 400px;
  }
  .arrow4 {
    top: 380px;
    left: 915px;
    width: 520px;
    height: 1000px;
  }

  .options {
    width: 1922px;
    height: 1479px;
    /* height: auto; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../../../images/energy-onboard-bg.png');
  }
}
