.headerContainer {
  /* width: 200px;
  display: flex;
  flex-wrap: wrap; */

  /* text-align: center; */
}

.title {
  /* max-height: 0; */
  opacity: 0;
  transform: translateY(0);
}

.animatedHeader {
  /* overflow: hidden;
  max-height: 200px;
  transition: max-height 0.5s ease; */
  opacity: 1;
  transform: translateY(-30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
