.header-container {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: bottom 0.5s ease; /* Анимация смещения прилипающего заголовка */
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.animated-header {
  bottom: 0; /* Показываем заголовок, когда isAnimated === true */
}
.title {
}
