.mainContainer {
  position: relative;
  display: flex;
  width: 375px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--bg-light-color);
  border: none;

  /* cursor: url('../../images/spares-steering-wheel.svg'), auto; */
}

/* .mainContainer, */
/* .mainWrapper, */
/* .container, */
/* .emptyHeaderFull, */
/* .emptyHeader {
  border: none;
  background-color: var(--bg-dark-color);
} */
/* .castomCursor {
  cursor: url('../../../images/spares-steering-wheel.svg'), auto;
} */

.emptyHeaderFull {
  height: 68px;
  background-color: var(--bg-dark-color);
  position: fixed;
  width: 100%;
}

.emptyHeader {
  height: 68px;
  border: none;
  background-color: transparent;
}

/* 
.emptyFooter {
  width: 100%;
  position: absolute;
  border-top: 2px solid var(--accent-color);
  background-color: var(--big-button-color);
  height: 306px;
} */

@media screen and (min-width: 1440px) {
  .mainContainer {
    max-width: none;
    width: 100%;
    height: 100%;
  }

  .mainWrapper {
    margin: 0 auto;
    position: relative;
    margin-left: 16vw;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .content {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    background-color: var(--bg-medium-color);
    border-top: 2px solid var(--footer-stroke);
    width: 100vw;
  }
  .emptyHeader {
    /* height: 102px; */
    display: none;
  }
}
