.mainContainer {
  position: relative;
  display: flex;

  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--bg-light-color);
  border: none;
}

.emptyHeaderFull {
  height: 68px;
  background-color: var(--bg-dark-color);
  position: fixed;
  width: 100%;
}

.emptyHeader {
  width: 100vw;
  height: 68px;
  border: none;
  background-color: transparent;
}

.contentStart {
  transition: all 0.5s;
  transform: translateX(100%);
}

.contentFinish {
  transition: all 0.5s;
  transform: translateX(0);
}

.footerStart {
  transition: all 0.5s;
  transform: translateX(100%);
}
.footerFinish {
  transition: all 0.5s;
  transform: translateX(0);
}

.loaderStart {
  transition: all 0.5s;
  transform: translateX(0);
}

.loaderFinish {
  transition: all 0.5s;
  transform: translateX(-100%);
}

@media screen and (min-width: 1440px) {
  .mainContainer {
    max-width: none;
    width: 100%;
    height: 100%;
  }

  .mainWrapper {
    margin: 0 auto;
    position: relative;
    margin-left: 16vw;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .content {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    background-color: var(--bg-medium-color);
    border-top: 2px solid var(--footer-stroke);
    width: 100vw;
  }
  .emptyHeader {
    display: none;
  }
}
