.listMob {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 32px;
}

.cards {
  position: relative;
  height: 515px;
}

.image {
  border-radius: 5px;
}

.prevCard,
.currentCard,
.nextCard {
  position: absolute;
  border-radius: 8px;
}

.prevCard {
  left: -210px;
  opacity: 60%;
}
.currentCard {
  left: 155px;
}
.nextCard {
  left: 315px;
  opacity: 60%;
}

.cardHide {
  display: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  height: 515px;

  width: 343px;
}

.name {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 1440px) {
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin-bottom: 16px;
    gap: 16px;
    row-gap: 60px;
  }
  .item {
    width: auto;
    height: auto;
  }
  .image {
    width: 332px;
    height: 371px;

    border-radius: 5px;
  }

  .imageWrapper {
    width: 332px;
    height: 371px;
  }
}
@media screen and (min-width: 2560px) {
  .list {
    margin-bottom: 32px;
    column-gap: 48px;
    row-gap: 120px;
  }
  .item {
    gap: 32px;
  }

  .image,
  .imageWrapper {
    width: 610px;
    height: auto;
    background-size: cover;

    border-radius: 10px;
  }

  .name {
    font-size: 36px;
    line-height: 54px;
  }

  .position {
    font-size: 32px;
    line-height: 50px;
  }
}
