.nav {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.navBlock {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 1440px) {
  .nav {
    flex-direction: row;
  }
  .navBlock {
    gap: 0;
  }
}
