.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
}
.img {
  margin-right: 5px;
}
.text {
  font-weight: 500;
  color: var(--sidebar-text-color);
}

.contactsPage {
  color: var(--text-color);
}

.href {
  color: var(--text-color);
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .list {
    display: flex;
    flex-direction: row;
  }

  .contactsPage {
    flex-direction: column;
  }

  .item {
    display: flex;
    align-items: center;
  }
  .text {
    color: var(--text-color);
  }
}
