.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
}
.img {
  margin-right: 5px;
}
.text {
  font-weight: 500;
  color: var(--sidebar-text-color);
}

.href {
  font-weight: 500;
  color: var(--sidebar-text-color);
  cursor: pointer;
}
.contactsPage {
  color: var(--text-color);
}

@media screen and (min-width: 1440px) {
  .list {
    display: flex;
    flex-direction: row;
  }

  .contactsPage {
    flex-direction: column;
  }

  .isHeader {
    flex-direction: row;
    color: var(--text-color);
  }

  .item {
    display: flex;
    align-items: center;
  }
  .text {
    color: var(--text-color);
  }
}
@media screen and (min-width: 2560px) {
  .text {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
  }
}
