.blockWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.mapWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);

  width: 100vw;
}

.mapContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;

  max-width: 375px;
}
.mapContainerTop::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background: var(--form-text-color);
}

.formWrapper {
  max-width: 343px;
  padding: 16px;
  padding-bottom: 64px;
  height: auto;
}

.mapTitle {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: var(--text-color);
}

.socList {
  display: flex;
  gap: 16px;
}

.socItem,
.socBtn {
  transition: all 200ms;
  border: none;
  background: none;
  border-radius: 50%;
}
.socBtn {
  background: white;
}

.mapBtnsBlock {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.socBtn:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 8px rgba(123, 170, 241, 0.3);
  transition: all 200ms;
}

@media screen and (min-width: 1440px) {
  .blockWrapper {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .formWrapper {
    padding: 0;
    max-width: 576px;
  }

  .mapWrapper {
    width: 492px;
    padding: 12px;
    height: auto;

    display: flex;
    flex-direction: column;

    background-color: var(--card-bg);
    border-radius: 8px;
  }

  .mapTitle {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.24px;
    color: var(--text-color);
  }

  .mapContainer {
    flex-direction: row;
    gap: 6px;
    padding: 16px 4px 16px 4px;
    max-width: none;
  }

  .mapBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
  }
}
@media screen and (min-width: 2560px) {
  .blockWrapper {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  /* .formWrapper {
    padding: 0;
    max-width: 970px;
  } */
  .formWrapper {
    padding: 0;
    max-width: 970px;
  }

  /* .mapWrapper {
    width: 824px;
    padding: 48px;
    gap: 96px;
  } */

  .mapWrapper {
    width: 824px;
    padding: 24px;

    border-radius: 16px;
  }

  /* .mapTitle {
    font-size: 32px;
    line-height: 40px;
  } */

  .mapTitle {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.24px;
  }

  .mapContainer {
    gap: 12px;
    padding: 16px 4px 16px 4px;
  }

  .mapBox {
    gap: 6px;
  }

  .socList {
    gap: 32px;
  }

  .socItem,
  .socBtn {
    width: 68px;
    height: 68px;
  }

  .img {
    width: 68px;
    height: 68px;
    background-size: cover;
  }
  /* .socItem,
  .socBtn {
    width: 68px;
    height: 68px;
  }

  .img {
    width: 68px;
    height: 68px;
    background-size: cover;
  } */
}
