.blockWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.mapWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);

  width: 100vw;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

.formWrapper {
  max-width: 343px;
  padding: 16px;
  height: auto;
}

.mapTitle {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}

.map {
  border-radius: 8px;
  width: 343px;
  height: 231px;
}

.socList {
  display: flex;
  gap: 16px;
}

.socItem,
.socBtn {
  transition: all 200ms;
  border: none;
  background: none;
  border-radius: 50%;
}
.socBtn {
  background: white;
}

.socBtn:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 8px rgba(123, 170, 241, 0.3);
  transition: all 200ms;
}

@media screen and (min-width: 1440px) {
  .blockWrapper {
    flex-direction: row;
    gap: 16px;
  }

  .formWrapper {
    padding: 0;
    max-width: 576px;
  }

  .mapWrapper {
    width: 412px;
    padding: 24px;
    gap: 36px;
    height: auto;

    display: flex;
    flex-direction: column;

    background-color: var(--card-bg);
    border-radius: 8px;
  }

  .map {
    width: 412px;
    height: 231px;
  }
}
@media screen and (min-width: 2560px) {
  .blockWrapper {
    flex-direction: row;
    gap: 32px;
  }

  .formWrapper {
    padding: 0;
    max-width: 970px;
  }

  .mapWrapper {
    width: 824px;
    padding: 48px;
    gap: 96px;
  }

  .mapTitle {
    font-size: 32px;
    line-height: 40px;
  }

  .map {
    width: 824px;
    height: 462px;
  }

  .socList {
    gap: 32px;
  }

  .socItem,
  .socBtn {
    width: 68px;
    height: 68px;
  }

  .img {
    width: 68px;
    height: 68px;
    background-size: cover;
  }
}
