@media screen and (min-width: 1440px) {
  .NavItem {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 282px;
    height: 80px;
    padding: 24px 24px 36px 24px;
    border-radius: 8px;
    background-color: var(--bg-light-color);
  }

  .NavItem.NavItemActive {
    box-shadow: 0 0 8px 8px rgba(123, 170, 241, 0.3);
  }

  .image {
    width: 40px;
    height: 40px;
  }

  .itemName {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: var(--text-color);
  }

  @keyframes rotateClockwise {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(720deg); /* Два оборота по часовой стрелке (360 * 2) */
    }
  }
  .image {
    width: 60px;
    height: 60px;
    transition: transform 1s ease-out; /* Плавное завершение анимации */
  }

  .NavItem:hover .image {
    animation: rotateClockwise 2s; /* Вращение длится 4 секунды */
  }
}
