.geoBlock {
  padding: 48px 16px 48px 16px;
  background: var(--bg-medium-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  max-width: 375px;
}

.descriptionInside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.contactUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 25px;
}

.text {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}

.downloadButton {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  color: var(--big-button-color);
}

.downloadButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.termsLink {
  display: block;
  padding: 16px 0;
  height: 32px;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;

  letter-spacing: 0.24px;
  color: var(--big-button-color);
}

.termsLink::after {
  padding-left: 16px;

  display: flex;
  align-items: flex-end;
  content: url('../../images/arrowRight.svg');
}

.termsLink:hover {
  color: #012756;
}

/* ================= */
.earthContainer {
  position: relative;
}
.earthImage {
  /* Стили для статичной картинки земного шара */
  width: 338px;
  height: auto;
}
.airplaneWrapper {
  position: absolute;
  right: 330px;
  top: 10px;
}
.airplane {
  position: absolute;
  /* top: 50px; */
  /* right: 50px; */
  width: 40px;
  height: 40px;
  /* background-image: url('../../images/airplane-mob.svg'); */
  background-image: url('../../images/spares-steering-wheel.svg');
  animation: rotateClockwise 4s linear infinite;
}

.airplane::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url('../../images/airplane-mob.svg'); */
  /* background-image: url('../../images/spares-steering-wheel.svg'); */
  animation: rotateClockwise 5.5s linear infinite;
}
@keyframes rotateClockwise {
  from {
    transform: rotate(0deg); /* Начальный угол - 0 градусов */
  }
  to {
    transform: rotate(
      360deg
    ); /* Конечный угол - 360 градусов (полный оборот) */
  }
}
/* .airplaneWtapper2 {
} */
.airplane2 {
  position: absolute;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.airplane2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../images/airplane-mob.svg');
  transform: rotate(45deg);
  transform-origin: top;
}

@media screen and (min-width: 1440px) {
  .airplane2 {
    width: 48px;
    height: 48px;
  }
  /* .airplane {
    background-image: url('../../images/spares-steering-wheel.svg');
    animation: rotateClockwise 5.5s linear infinite;
  } */
  .airplane2::before {
    background-image: url('../../images/airplane.svg');
  }
  /* .airplane,
  .airplane2 {
    width: 48px;
    height: 48px;
  }
  .airplane::before,
  .airplane2::before {
    background-image: url('../../images/airplane.svg');
  } */

  .geoBlock {
    display: flex;
    flex-direction: column;
    padding: 96px;
    background: var(--bg-medium-color);

    gap: 0;
  }

  .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
    max-width: 100%;
  }

  .descriptionInside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 438px;
    gap: 30px;
  }

  .contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    text-align: left;
    letter-spacing: 0.24px;
    color: var(--text-light-color);
  }

  .earthImage {
    /* Стили для статичной картинки земного шара */
    width: 528px; /* Замените на нужный размер */
    height: auto; /* Замените на нужный размер */
  }
}
