.switcher {
  display: flex;
  align-items: center;
  min-height: 45px;
}

.btnWrapper {
  min-width: 35px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
  font: 'Gilroy';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--round-btn-color);
  transition: all 200ms;
}

.active {
  width: 30px;
  border: none;
  background: none;
  font: 'Gilroy';
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--sidebar-text-color);

  transition: all 200ms;
}

@media screen and (min-width: 1440px) {
  .button {
    color: var(--text-light-color);
  }
  .active {
    color: var(--text-color);
  }
}

@media screen and (min-width: 2560px) {
  .btnWrapper {
    min-width: 64px;
  }

  .button,
  .active {
    font-size: 25px;
    line-height: 32px;
  }
}
