.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-medium-color);

  min-height: 80dvh;
}
.taglineWrapper {
  padding: 48px 16px;
}
.container {
  max-width: 375px;
}
@media screen and (min-width: 1440px) {
  .pageWrapper {
    padding-bottom: 96px;
    margin-top: 102px;
  }
  .taglineWrapper {
    padding: 0;
    padding-bottom: 96px;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    min-width: 1025px;

    padding: 96px;
  }
}
@media screen and (min-width: 2560px) {
  .pageWrapper {
    padding-bottom: 96px;
    margin-top: 204px;
  }

  .taglineWrapper {
    padding-bottom: 166px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    min-width: 1922px;

    padding-bottom: 166px;
  }
}
