.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.test {
  background-color: transparent;
}

.isHideLink,
.hideArrow::after {
  display: none;
}

.buttonLink {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  /* flex-wrap: nowrap; */
  /* display: inline-block; */
}

.link {
  display: flex;
  flex-wrap: nowrap;
  /* display: inline; */
  padding: 16px 0;
  height: 32px;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;

  letter-spacing: 0.24px;
  color: var(--big-button-color);
}

.link::after {
  padding-left: 16px;
  display: flex;
  align-items: flex-end;
  content: url('../../images/arrowRight.svg');
}

.link:hover {
  color: #012756;
}

.afterBlock,
.afterTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.afterTextWrapper {
  margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
  .contacts {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
}
