.block {
  display: flex;
  padding: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.fixedHeader {
  position: fixed;
  top: 0;
  width: 375px;
  z-index: 500;
  /* width: 100%; */

  /* align-self: center; */

  /* height: 68px; */
  /* left: auto; */
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 375px;
  height: 68px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--bg-dark-color);
}

.headerMob {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.menuBtn {
  display: flex;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: var(--sidebar-text-color);

  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.menuBtn img {
  margin-left: 8px;
}

.list {
  display: flex;
}

.phone {
  display: block;
}

.phone::before {
  content: url('../../images/phone.svg ');
}

.mail::before {
  content: url('../../images/mail.svg');
}

.language {
  display: flex;
  letter-spacing: 0.24px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--bg-medium-color);
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  width: 182px;
  height: 54px;
  align-self: center;
  border-bottom: 1.5px solid var(--big-button-color);
  transition: all 200ms;
}

.logoutBtn:hover {
  transition: all 200ms;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1440px) {
  .mainHeader {
    /* position: absolute; */
    width: 1025px;
    margin: 0 auto;
    /* width: 84.5%; */
    padding: 0 96px;
    height: 102px;
    background-color: transparent;
  }

  .fixedHeader {
    /* margin-left: 16vw; */
    margin: 0 auto;
    width: 86%;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
  }
  .fixedHeaderScroll {
    background-color: var(--bg-light-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
}
