.bigButton,
.disabledBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 36px 16px 36px;
  border-radius: 5px;

  border: none;
  cursor: pointer;
  transition: all 200ms;
  color: var(--bg-light-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  width: 100%;
}

.bigButton {
  background-color: var(--big-button-color);
  border-bottom: 1.5px solid var(--big-button-hover-color);
}

.bigButton:hover {
  transition: all 200ms;
  background-color: var(--big-button-hover-color);
  border-bottom: 1.5px solid var(--big-button-hover-color);
}

.disabledBtn {
  opacity: 0.5;
  background: linear-gradient(
      0deg,
      var(--big-button-color),
      var(--big-button-color)
    ),
    linear-gradient(
      0deg,
      var(--big-button-hover-color),
      var(--big-button-hover-color)
    );
  border-bottom: 1.5px solid var(--bg-dark-color);
  cursor: not-allowed;
}

@media screen and (min-width: 1440px) {
  .bigButton,
  .disabledBtn {
    max-width: 216px;
    /* min-width: 216px; */
    height: 56px;
  }
}

@media screen and (min-width: 2560px) {
  .bigButton,
  .disabledBtn {
    min-width: 397px;
    height: 112px;

    font-size: 32px;
    line-height: 40px;
  }
}
