.aboutFactBlock {
  padding: 48px 16px 48px 16px;
  background: var(--bg-medium-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  gap: 16px;
}

.link {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  color: var(--big-button-color);
}

.link::after {
  padding-left: 15px;
  content: url('../../images/arrowRight.svg');
}

.taglineAbout {
  text-align: center;
  margin-bottom: 24px;
  height: 48px;
}
.sendInfo {
  margin-top: 24px;
}
@media screen and (min-width: 1440px) {
  .aboutFactBlock {
    padding: 96px;
  }

  .taglineAbout {
    width: calc(50%);
    text-align: left;
    margin-bottom: 80px;
    height: 32px;
  }

  .sendInfo {
    margin-top: 80px;
    align-self: center;
    width: 600px;
  }
}
@media screen and (min-width: 2560px) {
  .aboutFactBlock {
    /* padding: 166px 0; */
    padding-top: 166px;
    padding-bottom: 166px;
  }

  .taglineAbout {
    /* padding: 0 96px; */
    margin-bottom: 180px;
    height: 90px;
  }

  .sendInfo {
    margin-top: 180px;
    align-self: center;
    width: 1050px;
  }
}
