.pageWrapper {
  display: flex;
  flex-direction: column;

  content: '';
  top: 0;
  left: 0;
  height: 100%;
  padding-bottom: 48px;
}

.onBoardBG,
.focusBG {
  align-items: center;

  background-image: linear-gradient(
    to bottom,
    var(--bg-medium-color) calc(300px),
    var(--bg-light-color) 300px
  );
}
.energyBG {
  align-items: center;

  background-image: linear-gradient(
    to bottom,
    var(--bg-medium-color) calc(400px),
    var(--bg-light-color) 400px
  );
}

.taglineWrapper {
  display: flex;
  flex-direction: column;
  padding: 48px 0 24px 0;
  /* padding: 48px 16px 48px 16px; */
  align-self: flex-start;

  gap: 48px;
}

.headTitle {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  color: var(--big-button-color);
}

.pagesBlock {
  /* padding: 0 16px 48px 16px; */

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .pageWrapper {
    margin-top: 102px;
    padding-bottom: 0;
  }

  .taglineWrapper {
    align-self: center;
    padding: 96px 96px 0 96px;
    gap: 40px;
    /* height: 200px; */
  }
  /* .trailWrapper {
    height: 48px;
  } */

  .pagesBlock {
    padding: 80px 96px 96px 96px;
    align-items: flex-start;
    text-align: left;
  }

  .onBoardBG,
  .focusBG {
    background-image: linear-gradient(
      to bottom,
      var(--bg-medium-color) calc(600px),
      var(--bg-light-color) 600px
    );
  }
  .energyBG {
    background-image: linear-gradient(
      to bottom,
      var(--bg-medium-color) calc(800px),
      var(--bg-light-color) 800px
    );
  }
}

@media screen and (min-width: 2560px) {
  .pageWrapper {
    margin-top: 204px;
    padding-bottom: 0;
  }

  .taglineWrapper {
    padding-top: 166px;
    gap: 80px;
  }

  .pagesBlock {
    padding-top: 166px;
    padding-bottom: 166px;
    align-items: flex-start;
    text-align: left;
  }

  .onBoardBG,
  .focusBG {
    background-image: linear-gradient(
      to bottom,
      var(--bg-medium-color) calc(1150px),
      var(--bg-light-color) 1150px
    );
  }
  .energyBG {
    background-image: linear-gradient(
      to bottom,
      var(--bg-medium-color) calc(1400px),
      var(--bg-light-color) 1400px
    );
  }
}
