.pageWrapper {
  display: flex;
  flex-direction: column;

  content: '';
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    180deg,
    var(--bg-medium-color) 50%,
    var(--bg-light-color) 50%
  );
  background-position: 0 -900px;
  background-repeat: no-repeat;
}

.taglineWrapper {
  display: flex;
  flex-direction: column;
  padding: 48px 16px 48px 16px;
}

.pagesBlock {
  padding: 0 16px 48px 16px;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .pageWrapper {
    margin-top: 102px;
    background-position: 0 -1150px;
  }

  .taglineWrapper {
    align-self: center;
    padding: 96px 96px 10px 96px;
    gap: 16px;
  }
  .pagesBlock {
    padding: 96px 96px 96px 96px;
    align-items: flex-start;
    text-align: left;
  }
}
