.hideSibebar {
  position: absolute;
  left: 100%;
  z-index: 500;
  background-color: #fff;
  width: 300px;
  height: 100vw;
  min-height: 900px;
  top: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1500;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark-color);

  /* position: absolute; */
  position: fixed;
  width: 260px;
  /* width: 60vw;
  min-width: 260px; */
  padding-bottom: 36px;
  top: 58px;
  left: 100%;
  z-index: 50;
  transform: translateX(0);
  transition: transform 300ms linear;

  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;

  /* position: fixed;
  top: 60px; 
  bottom: 0;
  right: -250px; 
  transform: translateX(0);
  transition: transform 300ms linear; */
}
.mobMenu {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 32px;
}

.isOpen {
  transform: translateX(-100%);
}

.logo {
  /* padding-bottom: 179px; */
}

.mob {
  display: flex;
  flex-direction: column;
  gap: 64px;
  /* align-items: center; */
  align-items: flex-start;
  margin-left: 36px;
}

@media screen and (min-width: 1440px) {
  .sidebar {
    width: 16vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-height: none;
    background-color: var(--bg-dark-color);
    z-index: 1000;
  }

  .mobMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding-top: 0;
  }

  .logo {
    /* padding-bottom: 179px; */
    align-self: center;
  }

  .hideSibebar {
    display: none;
  }
}
