.blockWrapper {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tagline {
  width: calc(85%);
  align-self: center;
  text-align: center;
  margin: 0 auto;

  font-family: 'Ruberoid';
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}

.list {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.cardItem {
  /* 343-32*2=311, 270-32*2=238 */
  padding: 32px 16px;
  width: 311px;
  height: 206px;
  gap: 16px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  text-align: center;
  background-color: var(--card-bg);
}

.image {
  margin-bottom: 16px;
  width: 40px;
  height: 40px;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count,
.title {
  font-family: 'Ruberoid';
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}

.text {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: var(--text-color);
}

@media screen and (min-width: 1440px) {
  .blockWrapper {
    padding: 48px 0;
    gap: 64px;
    max-width: 1025px;
  }

  .tagline {
    width: calc(55%);
    align-self: center;
    text-align: center;
    margin: 0 auto;

    font-size: 24px;
    line-height: 36px;
  }

  .list {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 420px;
    width: 100%;
  }

  .image {
    margin-bottom: 32px;
    width: 92px;
    height: 92px;
  }
  .text {
    font-size: 18px;
    line-height: 27px;
  }

  .pagiBtnArrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    border: none;
    transition: all 200ms;
  }
  .pagiBtnArrow:hover,
  .pagiBtnDot:hover {
    box-shadow: 8px 8px 16px 0px rgba(123, 170, 241, 0.3);
  }
  .disabledBtn {
    opacity: 0.5;
  }

  .hideCard {
    display: none;
  }

  .cardWindow {
    position: relative;
    width: 420px;
    height: 420px;
    border-radius: 8px;

    overflow: hidden;
    background: transparent;
  }

  .cardsContainer {
    display: flex;
    position: absolute;
    transition: transform 0.3s ease-in-out;
  }

  .cardItem {
    width: 348px;
    height: 300px;
    padding: 60px 36px;

    border-radius: 8px;

    background-color: var(--bg-medium-color);
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-420px);
    }
    40% {
      transform: translateX(-840px);
    }
    60% {
      transform: translateX(-1260px);
    }
    80% {
      transform: translateX(-1680px);
    }
    100% {
      transform: translateX(-2100px);
    }
  }

  .swiperBlock {
    position: relative;
    width: 1025px;
    height: 420px;
  }
  .swiperItemPrev {
    position: absolute;
    left: 50px;
    opacity: 0.5;
    z-index: 1;
    scale: 0.95;
  }
  .swiperItemActive {
    position: absolute;
    left: 250px;
    z-index: 2;
    box-shadow: 0px 4px 20px 0px rgba(34, 62, 127, 0.3);
    border-radius: 8px;
  }
  .swiperItemNext {
    position: absolute;
    left: 450px;
    opacity: 0.5;
    z-index: 1;
    scale: 0.95;
  }
}
@media screen and (min-width: 2560px) {
  .blockWrapper {
    padding: 96px 0;
    gap: 128px;
    max-width: 1922px;
  }

  .tagline {
    width: 1030px;
    font-size: 48px;
    line-height: 50px;
  }

  .pagiBtnArrow,
  .pagiBtnArrowImg {
    width: 96px;
    height: auto;

    background-size: cover;
  }

  .list {
    height: 840px;
  }

  .image {
    margin-bottom: 64px;
    width: 184px;
    height: 184px;
  }

  .count,
  .title,
  .text {
    font-size: 36px;
    line-height: 54px;
  }

  .cardWindow {
    width: 840px;
    height: 840px;
    border-radius: 16px;
  }

  .cardItem {
    width: 696px;
    height: 600px;
    padding: 120px 72px;

    border-radius: 16px;

    background-color: var(--bg-medium-color);
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-840px);
    }
    40% {
      transform: translateX(-1680px);
    }
    60% {
      transform: translateX(-2520px);
    }
    80% {
      transform: translateX(-3360px);
    }
    100% {
      transform: translateX(-4200px);
    }
  }

  .swiperBlock {
    position: relative;
    width: 1922px;
    height: 840px;
  }
  .swiperItemPrev {
    left: 40px;
  }
  .swiperItemActive {
    left: 440px;

    border-radius: 16px;
  }
  .swiperItemNext {
    left: 840px;
  }
}
