.heroAboutBlock {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 48px 16px;
  background-color: var(--bg-light-color);
  align-items: center;
  /* text-align: center; */
}

.heroContent {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  gap: 32px;
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 225px;
}

.description {
  display: flex;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}

.img {
  border-radius: 8px;
}

.downloadButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link {
  display: block;
  padding: 16px 0;
  height: 32px;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;

  letter-spacing: 0.24px;
  color: var(--big-button-color);
}

.link::after {
  padding-left: 16px;

  display: flex;
  align-items: flex-end;
  content: url('../../images/arrowRight.svg');
}

.link:hover {
  color: #012756;
}

@media screen and (min-width: 1440px) {
  .heroAboutBlock {
    padding: 0;
    min-height: 625px;
    background-repeat: no-repeat;
    background-image: url('../../images/hero-bg-about.png');
    background-position: right;
  }

  .heroContent {
    justify-self: start;
    width: calc(45%);
    padding: 150px 96px 0 96px;
    display: block;
    gap: 30px;
  }

  .heroWrapper {
    gap: 16px;
    height: 330px;
  }

  .description {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
  }
}
@media screen and (min-width: 2560px) {
  .heroAboutBlock {
    padding: 0;
    /* min-height: 1278px; */
    min-height: 1340px;
    background-repeat: no-repeat;
    background-image: url('../../images/hero-bg-about-big.png');
    background-position: right;
    background-size: auto;
  }

  .heroContent {
    padding-top: 280px;
    width: calc(40%);
  }

  .heroWrapper {
    gap: 16px;
    height: 780px;
  }

  .description {
    font-size: 36px;
    line-height: 54px;

    /* padding-bottom: 20px; */
  }

  .link {
    height: 54px;

    font-size: 32px;
    line-height: 40px;
  }

  .link::after {
    padding-top: 8px;
    padding-left: 16px;

    content: url('../../images/arrowRight-big.svg');
  }
}
