.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  /* padding-bottom: 25px; */
}

.delivery {
  background-color: var(--bg-dark-color);
}

.item {
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-medium-color);

  opacity: 0;
  transform: translateY(80%);
  transition: opacity 0.5s ease, transform 1s ease;
}

.head {
  padding-top: 20px;
  padding-bottom: 4px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.24px;
  color: var(--text-color);
}

.descr {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.24px;

  color: var(--text-color);
}

.image {
  height: 56px;
  width: 56px;
}

.animatedItem {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 1440px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    column-gap: 16px;
    row-gap: 60px;

    width: 1025px;
  }

  .item {
    width: calc(33% - 23px);
    background-color: transparent;
    padding: 0;
  }

  .image {
    height: 100px;
    width: 100px;
  }
}
@media screen and (min-width: 2560px) {
  .list {
    column-gap: 44px;
    row-gap: 136px;
    width: 1922px;
  }

  .head {
    padding-top: 20px;
    padding-bottom: 4px;

    font-size: 44px;
    line-height: 55px;
  }

  .descr {
    font-size: 36px;
    line-height: 48px;
  }

  .image {
    background-size: cover;
    height: 160px;
    width: 160px;
  }
}
