.NavItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 12px 0;
  width: 200px;

  align-items: center;
  color: var(--sidebar-text-color);
  overflow: hidden;
  cursor: pointer;
}

.itemName::before {
  padding-right: 5px;
  content: ' \2022 ';
  /* color: var(--accent-color); */
  color: var(--bg-dark-color);
  width: 6px;
  height: 6px;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
}
.NavItem .itemName {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-decoration: none;
  color: var(--sidebar-text-color);
}

.NavItem.NavItemActive > .itemName {
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
}

.NavItem.NavItemActive > .itemName::before {
  padding-right: 5px;
  content: ' \2022 ';
  color: var(--accent-color);
  width: 6px;
  height: 6px;
}
.itemName {
  word-wrap: break-word;
}

@media screen and (min-width: 1440px) {
  /* .NavItem {
    width: 100%;
  } */
}
